.admincss{
    display: flex;
    flex-direction: column;
    background: #111218;
    min-height: 100vh;
}

.containers-Display{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}

@media only screen and (max-width: 800px) {
    .containers-Display{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
  }