.admincss{
    display: flex;
    flex-direction: column;
    background: #111218;
    min-height: 100vh;
}

.containers-Display{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}



@media only screen and (max-width: 1200px) {
    .containers-Display{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }
