
.displayF{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.itemListContainer{
  border: .2px solid #d3d3d327;
  padding: 50px;
  border-radius: 15px;
  width: 50%;
  margin-left: 20px;
}






table.minimalistBlack {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 2px solid #A4927F;
  padding: 5px 4px;
}
table.minimalistBlack tbody td {
  font-size: 13px;
}
table.minimalistBlack thead {
  background: #171717;
}
table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
table.minimalistBlack tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
table.minimalistBlack tfoot td {
  font-size: 14px;
}