
.displayF{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridItem {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    }

.product-img{
    height: 40%;
}


.item-box{
    justify-content: space-evenly;
    border: 1px red solid;
    width: 400px;
    height: 300px;

    margin: 10px;
}