
.displayF{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridItem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 0px;
    }

.product-img{
    width: 300px;
}


.item-box{
    border: 1px red solid;

}