*{
    text-decoration: none;
}

a{
    color: white;
}
.navbar{

    background: rgb(29,29,29);
    background: linear-gradient(180deg, rgba(29,29,29,0.8505996148459384) 0%, rgba(0,212,255,0) 69%);    
    width: 90vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 5vw 10px 5vw;
    margin: 0 0 0px 0;
}

.navbar img{
width: 300px;
}

.links a{
    margin: 40px;
}

.alert-navbar{
    background-color: rgba(255, 0, 0, 0.493);
    padding: 5px;
    margin-bottom: 30px;


    display: flex;
    justify-content: space-around;
    flex-direction: row;
}