

.displayf{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flexvertical{
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
}

.containerForm{
    border: .2px solid #d3d3d327;
    padding: 50px;
    border-radius: 15px;
    align-items: center;

}

.submitbtn{
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

input{
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.scanner{
    border-radius: 30px;
}

.img-preview{
    width: 200px;
    margin: 10px;
}