.maincss{
    display: flex;
    flex-direction: column;
    background: #111218;
    height: 100vh;
    color: white;
}

.containersDisplay{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}

@media only screen and (max-width: 800px) {
    .maincss{
        flex-direction: column;
    }
  }