.navbar{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 69%);
    width: 90vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 5vw 10px 5vw;
    margin: 0 0 50px 0;
}

.navbar img{
width: 300px;
}

.links a{
    margin: 40px;
}